client
dev tun
proto tcp
{% for instance in instances %}
remote {{ instance }} 4020
{% endfor %}
resolv-retry infinite
nobind
<ca>
-----BEGIN CERTIFICATE-----
MIIFGjCCAwICAQEwDQYJKoZIhvcNAQELBQAwUzELMAkGA1UEBhMCVUExEzARBgNV
BAgMClNvbWUtU3RhdGUxDTALBgNVBAcMBEtpZXYxDzANBgNVBAoMBkJ0Y3BvcDEP
MA0GA1UEAwwGYnRjcG9wMB4XDTE3MDgxMDEyMzA1NVoXDTE5MDgxMDEyMzA1NVow
UzELMAkGA1UEBhMCVUExEzARBgNVBAgMClNvbWUtU3RhdGUxDTALBgNVBAcMBEtp
ZXYxDzANBgNVBAoMBkJ0Y3BvcDEPMA0GA1UEAwwGQnRjcG9wMIICIjANBgkqhkiG
9w0BAQEFAAOCAg8AMIICCgKCAgEA1pwaobOR0BoLEl+YkX6Ryy2wkdSDhgpHWEGz
7unnDt4sYaB8CFh8wd1FTkkZ17sMkkkI+67jU+SFGfBR0aBaloqyaHRvCmWo7V9O
Dw+155NvPflfqGobyQBfS1whUmvBvctpGR1TWKUcXDefWu1P7mlKAnAUOXYCsUew
6nm1F8sNm7uvR9IXCuHKjb3JnVAq3JMGrTIfOOBVST6NFyOBrwETHK+XHThrVKwC
ot/KQ6n9gR2oiHj879Uku1Y218G5cWJ822SPYvKRk+re4CQimeJXvj7H2ZQXcoar
QvsqxYxh1QQTc9XH/lT/RL8wDF0scdn1rmY74IBIYc9BfBH1nhbCOFlhvV90N2Qk
zFr6Sa1oOzXKPG0VreiYtvh+NLzfwf8NcwKA1jciu59/oMrj5m4UEztX+W3EGBVz
U8ADvNUwN4d5nXLjQt2mcYXRAODM/8vSBTpRQKgIko1gwzAMzeVPyc+gFnLpbMZf
BcuGoDh8yCCwajKlN5rmm/j2FL7HRFuYj23s5wMwSV1xRaqBT2asKT1oGvDi/ynd
oVWfK1Aq19f2NW0yIVkKwfnC9hESv5euPSII6aGBVGWIWUw72tIjuLiv6Gifq4Em
5NqLfUWH6tUOctuh6Mwo2bSLm0OLJU3gQc1w65eQ0qfhDZjQiMQBVJwnOqOrYrzm
7A0NyBUCAwEAATANBgkqhkiG9w0BAQsFAAOCAgEAa5Gsyq9djgGnbrF9s/UD7cAw
VNu0vIYw2bprCSh9PRhAVPQSIbihk34jSB55+EPXW2hTprIGo/iEmKqsF3rgOHiG
XkYiSmIddjwXOFbH/VpZNxxl3eDpDltZFWcWcCgCYYRK1/c/APOIPBFo5E3Mxmut
+0mxvaFJmW849x9Cy/0hd/HfqvytmZ4RGBmNeoawvylP2F3kAVwuoZbsbPBC8GDa
avd9VmEF1heizt5Hl9+jVjfFGhVHiVAEgxaWKA7FpJPOzY6bCnTXfvFaoM3vNzKc
ZDGe3D62fmk6MRHOUcQlGJGBit3Ce8kY2nny/2kBUXa5pwBn5+U08f0v8VZwesxu
xRPvnB2iIuqLj1LIhv7sAxKIDeCWixN4YmQAgvFs0dKFRAKzd2t8rj0dhtsrnSJM
DJ2lh1hb2MywwePr3SBkijM8VGPv8Oo+uZFY8u0q4QjUgTvXNKInl5JaR+VSlCDi
FUD7sXgP/RKiy3aTHt3yEqwteBD3dKm18ebL6wSmstjpIMzw31hgw+p1sDafdeLH
5r/nTSkJJ9YrslhCijE5eVGWhCg/bBw2Q91zy7GoPmj6CoVepD2XlKkFw1uqzKJE
YhLQYZPAKMMKWecksP3vG50P6jGtjuJRK7Kp2DssH9yFXtup2qJf8dqvCvibuxuW
4g9Iroq2qq60Bkl80ms=
-----END CERTIFICATE-----
</ca>
verb 3
auth-user-pass
{% if mode == "prod" %}
route 11.0.0.0 255.0.0.0
{% endif %}